@import "tailwindcss";

@theme {
  --color-brand: #22d3ee;
}

html, body, #root {
  height: 100%;
}

body {
  overscroll-behavior-y: none;
}

::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
